<%= turbo_frame_tag task do %>
  <div class='flex flex-row justify-between bg-white border-b hover:bg-gray-50'>
    <div class='w-1/4 py-4 px-6 text-left'>
      <p class='font-normal text-sm text-slate-600 truncate'><%= task.description %></p>
    </div>
    <div class='w-1/5 py-4 px-6 text-left whitespace-nowrap'>
      <p class='font-normal text-sm text-slate-600'><%= task.created_at.strftime("%m/%d/%Y") %></p>
    </div>
    <div class='w-1/5 py-4 px-6 text-left whitespace-nowrap'>
      <p class='font-normal text-sm text-slate-600'><%= task.user.nil? ? 'UnAssigned' : task.user.first_name %></p>
    </div>
    <div class='w-1/5 py-4 px-6 text-left whitespace-nowrap'>
      <p class='font-normal text-sm text-slate-600'><%= task.is_completed ? 'Completed' : 'Incomplete'%></p>
    </div>
    <div class='flex flex-row justify-end w-1/6 py-4 px-6'>
      <% if user_signed_in? && task&.user&.id == current_user.id %>
        <%= button_to 'Complete', update_task_status_task_path(task), method: :patch, params: { is_completed: "#{task.is_completed ? false : true}" }, class: 'btn-success'%>
      <% end %>
      <% if user_signed_in? && current_user.admin?%>
        <%= link_to edit_task_path(task), class: 'btn-success' do %>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
        <% end %>
        <%= button_to task_path(task), method: :delete, class: 'btn-danger' do %>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
